body {
max-width: 1440px;
margin: auto;
position: relative;
font-family: 'Montserrat', sans-serif;
}
/* Media query pour les écrans de 768 pixels de largeur ou moins (mode mobile) */
@media only screen and (max-width: 768px) {
   

}